<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propietarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"><i class='bx bxs-car-garage'></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container ">
            <div class="row">
                <div class="col-9 col-md-5">
                    <form action="/savePropietario" method="POST">
                        <div class="row justify-content-md-center">

                            <div class="col-md-auto">
                                <h1>Registro de propietarios</h1>
                            </div>


                        </div>
                        <input type="text" name="cedulaPropietario" id="cedulaPropietario"
                            placeholder="Cedula del propietario" class="form-control es my-3">
                        <input type="text" name="nombrePropietario" id="nombrePropietario"
                            placeholder="Nombre del propietario" class="form-control es my-3">
                        <input type="text" name="telefonoPropietario" id="telefonoPropietario"
                            placeholder="Telefono del propietario" class="form-control es my-3">

                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <input type="submit" class="btn btn-success btnr" value="Guardar">

                                <a href="/" class="btn btn-primary btnr">Cancelar</a>
                            </div>



                        </div>



                    </form>
                </div>

                <div class="col-7">
                    <div class="container">
                        <div class="row justify-content-md-center">

                            <div class="col-md-auto">
                                <h1>Propietarios</h1>
                            </div>


                        </div>
                        <table class="table table bordered table-striped tex-center mt-4">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th scope="col">Cedula</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% results.forEach((propietario)=> { %>

                                    <tr>
                                        <td>
                                            <%= propietario.cedulaPropietario %>
                                        </td>
                                        <td>
                                            <%= propietario.nombrePropietario %>
                                        </td>
                                        <td>
                                            <%= propietario.telefonoPropietario %>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-info"><i class='bx bxs-edit-alt'></i></a>
                                            <a href="#" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                                        </td>
                                    </tr>
                                    <% })%>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>